<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0">
    <title>授权登录</title>
    <div th:replace="commons/head::head"></div>
    <link rel="stylesheet" th:href="@{/css/m_authorize.css}">
</head>
<body>
<!--这里需要重新弄下-->
<div id="app1" class="container">
    <header class="icon">
        <img style="width: 60%;" th:src="@{/images/pc.png}">
    </header>
    <section>
        <article class="message">
            <p th:inline="text">您的账号正试图在一台电脑([[${ipAddr}]])登录，请选择是否允许。</p>
        </article>
        <article style="margin-top: 100px" class="ctrl">
            <button style="background-color: #4BC065;width: 50%;margin: 10px auto" @click="pass(true)">允许登录</button>
            <button style="background-color: #FFFFFF;color: #7F7F7F;font-size: 15px" @click="pass(false)">取消登录</button>
        </article>
    </section>
</div>
</body>

</html>
<!--传递运行/拒绝-->
<script>
    new Vue({
        el: "#app1",
        data: {
            agree: ""
        },
        created: function () {
        },
        methods: {
            pass: function (agree) {
                const self = this;
                var url = "/user/qrlogin/authorize";
                self.$http.post(url, {
                    'agree': agree,
                }).then(function (response) {
                    console.log(response)
                    var data = response.data;
                    if (data.code == 1000) {
                        finish();
                    } else {
                        alert(data.msg)
                    }
                })
            },
        }
    })
</script>
<!--操作完成,关闭窗口-->
<script>
    var finish = function () {
        var browser = navigator.userAgent.toLowerCase();
        //微信扫码登录
        if (browser.match(/MicroMessenger/i) == "micromessenger") {
            // alert("微信客户端");
            //alert("操作完成,页面即将关闭");
            WeixinJSBridge.call('closeWindow');
            //其他扫码登录
        } else {
            alert("操作完成,请关闭页面")
            window.location.href = "about:blank"
            window.close();
        }
    }
</script>
