<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>请登录</title>
    <div th:replace="commons/head::head"></div>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
</head>
<body class="text-center">
<form id="form"   class="form-signin">

    <img class="mb-4" th:src="@{/images/gdufe.jpg}" alt="gdufe.jpg" width="110px" height="120px">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p style="color: red" th:text="${msg}"></p>
    <label class="sr-only">Username</label>
    <input type="text" class="form-control" v-model="account" name="name" placeholder="Username" required="" autofocus="">
    <label class="sr-only">Password</label>
    <input type="password" class="form-control" v-model="password" @keyup.enter="login()" name="password"
           placeholder="Password" required="">
    <div class="checkbox mb-3">
        <label>
            <input type="checkbox" value="remember-me"> Remember me
        </label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="button" @click="login()" >登录</button>
    <button class="btn btn-lg btn-success btn-block" type="button" @click="resiger()"  >注册</button>
    <p class="mt-5 mb-3 text-muted">©2018-2019 -Bravery</p>
</form>
</body>
<style>
    .footer{
        background-color: #FFFFFF;
    }
</style>
<!-- 页面底部 -->
<!--#{extends 'common/footer.html' /}-->
</html>
<script>
    new Vue({
        el: "#form",
        data: {
            account: '',
            password: ''
        },
        watch: {
            name: function (val) {
                var self = this;
                self.name = val.trim();
            },
            password: function (val) {
                var self = this;
                self.password = val.trim();
            }
        },
        methods: {
            login: function () {
                const self = this;
                if (self.username == '') {
                    alert('用户名不能为空');
                    return
                }
                if (self.password == '') {
                    alert('密码不能为空');
                    return
                }
                var url = "/user/login";
                self.$http.post(url, {
                    'account': self.account,
                    'password': self.password
                }).then(function (response) {
                    var res = response.data;
                    if (res.code == 1000) {
                        window.location.href = "/lesson/listPage";
                    } else if (res.code == 800001) {
                        alert('账号不存在或密码错误');
                    } else if (res.code == 200005) {
                        alert('账号被禁用,请联系管理员', 2000);
                    } else {
                        alert('登录失败.' + res.msg, 2000);
                    }
                })
            },
            resiger:function () {
                window.location.href = "/user/registerPage";
            }
        }
    })
</script>