<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>注册</title>
    <div th:replace="commons/head::head"></div>
    <link th:href="@{/css/signin.css}" rel="stylesheet">
  </head>
<style>
    #form{
        margin-bottom: 120px;
    }
</style>
<body class="text-center">
<form id="form"   class="form-signin">
    <img class="mb-4" style="width: 110px; margin-top: 65px;margin-bottom: 15px" th:src="@{'/images/gdufe.jpg'}" alt="gdufe.jpg" >
    <h1 class="h3 mb-3 font-weight-normal">Please register in</h1>
    <input type="text" class="form-control" @blur="check()" v-model="account" name="username" placeholder="账号" required="required" autofocus="">
    <div style="color: red">{{msg}}</div>
    <br>
    <input type="text" class="form-control" v-model="username" name="name" placeholder="昵称" required="required">
    <br>
    <input type="text" class="form-control" v-model="email" name="email" placeholder="邮箱" required="required">
    <br>
    <input type="password" class="form-control" v-model="password"  name="password"
           placeholder="请输入密码" required="required">
    <br>
    <input type="password" class="form-control" v-model="pw" name="pw"
           placeholder="请再次输入密码" required="required">
    <div class="checkbox mb-3">
    </div>
    <button class="btn btn-lg btn-success btn-block" type="button"@click="register()"  >注册</button>

</form>
<style>
</style>
</body>
</html>
<script>
    new Vue({
        el: "#form",
        data: {
            account: '',
            username:'',
            password: '',
            email:'',
            pw: '',
            msg:'',
        },
        watch: {
            name: function (val) {
                var self = this;
                self.name = val.trim();
            },
            password: function (val) {
                var self = this;
                self.password = val.trim();
            }
        },
        methods: {
            check:function(){
                if (this.account==''){
                    alert("账号不能为空")
                } else{
                    const self=this;
                    var url = "/user/checkAccount";
                    self.$http.post(url, {
                        'account': self.account,
                        'username':self.username,
                        'password': self.password
                    }).then(function (response) {
                        var res = response.data;
                        if(res.code==5) {
                            self.msg ='账号已存在';
                        }if(res.code==1000){
                            self.msg='账号可以使用';
                        }
                    })

                }

            },
            register: function () {
                const self = this;
                if (self.account == '') {
                    alert('用户名不能为空');
                    return
                }
                if (self.password == ''||self.pw == '') {
                    alert('密码不能为空');
                    return
                }
                if (self.password !=self.pw) {
                    alert('两次密码输入不同');
                    return
                }
                var url = "/user/register";
                self.$http.post(url, {
                    'account': self.account,
                    'username':self.username,
                    'password': self.password,
                    'email':self.email,
                }).then(function (response) {
                    var res = response.data;
                    if (res.code == 1000) {
                        alert("注册成功!现在去登录吧.");
                        window.location.href = "/user/loginPage";
                    } else if(res.code==5) {
                        var m ='账号已存在';
                        self.msg=m;
                    }else {
                        var m ='未知错误';
                        self.msg=m;
                    }

                })
            }
        }
    })
</script>