<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>登录</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">

    <!--扫码登录的link-->
    <link rel="stylesheet" type="text/css" href="${ctx}/css/base.css"
          th:href="@{/css/base.css}">
    <script type="text/javascript" src="${ctx}/js/jquery-2.1.3.min.js"
            th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" src="${ctx}/js/qrcode/jquery.qrcode.js"
            th:src="@{/js/qrcode/jquery.qrcode.js}"></script>
    <script type="text/javascript" src="${ctx}/js/qrcode/utf.js"
            th:src="@{/js/qrcode/utf.js}"></script>
    <script type="text/javascript" th:src="@{/js/login.js}"></script>
    <script type="text/javascript" th:src="@{/js/errorCode.js}"></script>

</head>
<body class="text-center">
<!--<a href="#" th:href="${#servletContext.contextPath}">这是什么</a>-->
<form class="form-signin" action="dashboard.html" th:action="@{/user/login}" method="post">
    <img class="mb-4" th:src="@{/img/bootstrap-solid.svg}" src="asserts/img/bootstrap-solid.svg" alt="" width="72"
         height="72">
    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <!--扫码登录-->
    <div class="pc_sign_in_box">
        <div class="pc_sign_in_title">
            <ul>
                <li class="title_selected" data-id="1">扫码登录</li>
                <li data-id="2">账号密码登录</li>
            </ul>
        </div>
        <div class="pc_sign_in_cont">
            <!--二维码-->
            <div class="pc_qr_code">
                <div id="qrcode"></div>
            </div>
            <div id="result">请使用手机扫码</div>
        </div>
        <div class="pc_sign_in_input">
            <label class="sr-only">Username</label>
            <input type="text" name="username" class="form-control" placeholder="Username"
                   required="" autofocus="">
            <label class="sr-only">Password</label>
            <input type="password" name="password" class="form-control" placeholder="Password"
                   required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"/> remember-me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit" >Sign in</button>
        </div>

    </div>
    <p class="mt-5 mb-3 text-muted">© 2018-2019 Bravery 广州 海珠</p>
    <a class="btn btn-sm" th:href="@{/index.html(l='zh_CN')}">中文</a>
    <a class="btn btn-sm" th:href="@{/index.html(l='en_US')}">English</a>
</form>

</body>
<input style="width: 1px;" name="account" placeholder="Username" autocomplete="off" required autofocus>



<!--新的js-->
<script th:inline="javascript">
    const ctx = /*[[@{/}]]*/;
    let socket = null;
    let warpper = document.querySelector('.warpper');
    window.onload = function () {
        //websocket用在这里 手机端扫码后返回状态 前端js做出响应
        // alert("websocket用在这里 手机端扫码后返回状态 前端js做出响应")
        socket = new WebSocket(`ws://${window.location.host}/websocket/login`);
        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            switch (data.action) {
                case 'connect':
                    // qrcode.makeCode(`${window.location.origin}/user/qrlogin/authorize?sid=${data.sid}`);
                    var content = window.location.origin + '/user/qrlogin/authorize?sid=' + data.sid;
                    $('#qrcode').qrcode({
                        render: "canvas",
                        width: 200,
                        height: 200,
                        correctLevel: 0,
                        text: content,
                        background: "#ffffff",
                        foreground: "black",
                        src: "/img/qrcode_logo.jpg"
                    });
                    var $qr = $('#qrcode');
                    var qrcode = $qr[0];
                    warpper.style.animationName = 'show-qrcode';
                    break;
                case 'scanCode':
                    warpper.style.animationName = 'scan-completed';
                    break;
                case 'agree':
                    alert("1电脑接收到socket传来的agree信号,准备去新的页面")
                    window.location.href = `${ctx}user/home`;
                    alert("2电脑接收到socket传来的agree信号,准备去新的页面")
                    break;
                case 'refuse':
                    document.querySelector('.scan-result > .back > span').style.display = 'inline';
                    document.querySelector('.scan-result > .icon > img').src = `${ctx}images/refuse.png`;
                    document.querySelector('.scan-result > .message > p').innerHTML = '你被无情地拒绝了';
                    socket && socket.close();
                    break;
                default:
                    console.log(data);
            }
        };
    };
</script>


<!--旧的js-->
<script type="text/javascript">
    $(window).load(function () {
        $(".pc_sign_in_box").addClass("bounce-in-down");
    })

    $(".pc_sign_in_title ul li").on("click", function () {
        $(this).parents(".pc_sign_in_title").find("ul li").removeClass("title_selected");
        $(this).addClass("title_selected");
        if ($(this).attr("data-id") == "1") {
            $(".pc_sign_in_cont").show();
            $(".pc_sign_in_input").hide();
        } else {
            $(".pc_sign_in_cont").hide();
            $(".pc_sign_in_input").show();
        }
    })

    function testSign(showText) {
        $(".test_sign_in").css({
            "visibility": "visible"
        }).html(showText);
    }

    //账号密码登录
    $(".sign_btn").on("click", function () {
        if ($("#username").val() == "") {
            testSign("账号不能为空");
            return;
        }
        if ($("#password").val() == "") {
            testSign("密码不能为空");
            return;
        }
        $.post("/user/login",
            {
                username: $("#username").val(),
                password: $("#password").val()
            },
            function (msg) {
                if (msg.successFlag == '1') {
                    window.location.href = ctx + "/webstage/login/success.do";
                } else {
                    errorBombBox(msg.message);//调报错弹框
                }
            })
    })
</script>



</html>
