<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>您好,请登录</title>
    <div th:replace="commons/head::head"></div>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/css/signin.css}" rel="stylesheet">
    <!--扫码登录的link-->
    <link rel="stylesheet" type="text/css" href="${ctx}/css/base.css"
          th:href="@{/css/base.css}">
    <script type="text/javascript" src="${ctx}/js/jquery-2.1.3.min.js"
            th:src="@{/js/jquery-2.1.3.min.js}"></script>
    <script type="text/javascript" src="${ctx}/js/qrcode/jquery.qrcode.js"
            th:src="@{/js/qrcode/jquery.qrcode.js}"></script>
    <script type="text/javascript" src="${ctx}/js/qrcode/utf.js"
            th:src="@{/js/qrcode/utf.js}"></script>
    <!--<script type="text/javascript" th:src="@{/js/login.js}"></script>-->
    <script type="text/javascript" th:src="@{/js/errorCode.js}"></script>
    <style>
        html, body {
            width: 100%;
            height: 100%
        }

        body {
            font-family: "华文细黑";
            background: url("http://127.0.0.1/images/backgroud.jpg") no-repeat;
            /*background-color: black;*/
            /*opacity:0.5;*/
            background-size: 100%;
        }


    </style>

</head>
<body class="text-center">
<form id="form" class="form-signin" action="dashboard.html" th:action="@{/user/login}" method="post">
    <img style="width: 80px;height: 80px;margin-left: 50px;" class="mb-4"
         th:src="@{/images/bootstrap-solid.svg}">
    <h1 style="color: white;margin-left: 50px" class="h3 mb-3 font-weight-normal">Please Sign in</h1>
    <p style="color: red" th:text="${msg}" th:if="${not #strings.isEmpty(msg)}"></p>
    <!--扫码登录-->
    <div class="pc_sign_in_box bounce-in-down" style="background: rgba(0,0,0,0)">
        <div class="pc_sign_in_title">
            <ul>
                <li style="font-size: 18px" class="title_selected" data-id="1">扫码登录</li>
                <li style="font-size: 18px;color: #FFFFF4" data-id="2">账号密码登录</li>
            </ul>
        </div>
        <div style="opacity: 1" class="pc_sign_in_cont">
            <!--二维码-->
            <div class="pc_qr_code">
                <div id="qrcode"></div>
            </div>
            <div style="color: #FFFFF4;font-size: 15px;" id="result">推荐使用微信扫码</div>
        </div>
        <div class="pc_sign_in_input">
            <label class="sr-only">Username</label>
            <input type="text" v-model="account" class="form-control" placeholder="Username"
                   required="" autofocus="">
            <div style="margin-top: 7px"></div>
            <label class="sr-only">Password</label>
            <input type="password" v-model="password" class="form-control" placeholder="Password"
                   required="">
            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"/> remember-me
                </label>
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="button" @click="login()">Sign in</button>
        </div>

    </div>
    <div style="color: #563D7C;font-size: 20px" class="mt-5 mb-3 text-input-context-menu">© 2018-2019 Bravery 广州 海珠
    </div>
    <a style="color: white" class="btn btn-sm" href="#">中文</a>
    <a style="color: white" class="btn btn-sm" href="#">English</a>
    <input style="width: 1px;" name="account" placeholder="Username" autocomplete="off" required autofocus>

</form>
<!--扫描成功显示元素-->
<div id="message" style="width: 200px; display: flex;flex-direction: column;margin-bottom: 120px">
    <img style="justify-content: center">
    <div style="color: #FFFFF4;font-size: 15px;justify-content: center;margin-top: 10px"></div>
</div>
</body>

<!--二维码js-->
<script th:inline="javascript">
    const ctx = /*[[@{/}]]*/;
    let socket = null;
    let warpper = document.querySelector('.warpper');
    window.onload = function () {
        $("#message").hide();
        //websocket用在这里 手机端扫码后返回状态 前端js做出响应
        // alert("websocket用在这里 手机端扫码后返回状态 前端js做出响应")
        socket = new WebSocket(`ws://${window.location.host}/websocket/login`);
        socket.onmessage = function (e) {
            const data = JSON.parse(e.data);
            console.log(data)
            switch (data.action) {
                case 'connect':
                    var content = window.location.origin + '/user/qrlogin/authorize?sid=' + data.sid;
                    $('#qrcode').qrcode({
                        render: "canvas",
                        width: 200,
                        height: 200,
                        correctLevel: 0,
                        text: content,
                        background: "#ffffff",
                        foreground: "black",
                        src: "/images/qrcode_logo.jpg"
                    });
                    break;
                case 'scanCode':
                    // alert("扫描成功")
                    success();
                    break;
                case 'agree':
                    // 客户端同意登录
                    window.location.href = `${ctx}user/home`;
                    break;
                case 'refuse':
                    reject();
                    // socket && socket.close();
                    break;
                default:
                    console.log(data);
            }
        };
    };
</script>

<!--Vue.js 登录动作-->
<script>
    new Vue({
        el: "#form",
        data: {
            account: '',
            password: ''
        },
        created: function () {
        },
        watch: {
            name: function (val) {
                var self = this;
                self.name = val.trim();
            },
            password: function (val) {
                var self = this;
                self.password = val.trim();
            }
        },
        methods: {
            login: function () {
                const self = this;
                if (self.username == '') {
                    alert('用户名不能为空');
                    return
                }
                if (self.password == '') {
                    alert('密码不能为空');
                    return
                }
                var url = "/user/login";
                self.$http.post(url, {
                    'account': self.account,
                    'password': self.password
                }).then(function (response) {
                    var res = response.data;
                    if (res.code == 1000) {
                        window.location.href = "/lesson/listPage";
                    } else if (res.code == 800001) {
                        alert('账号不存在或密码错误');
                    } else if (res.code == 200005) {
                        alert('账号被禁用,请联系管理员', 2000);
                    } else {
                        alert('登录失败.' + res.msg, 2000);
                    }
                })
            },
        }
    })
</script>

<script>

   // 扫码成功js
    var success = function () {
        $("form").hide();
        document.querySelector('#message>img').src = `${ctx}images/success4.png`;
        $("#message").show();
        document.querySelector('#message>div').innerHTML = '请在手机确认完成登录';
    }

   // 扫码拒绝js
    var reject = function () {
        $("form").hide();
        document.querySelector('#message>img').src = `${ctx}images/cry.png`;
        document.querySelector('#message>div').innerHTML = "你被无情地拒绝了<br>5秒后返回页面";
        $("#message").show();
        back();
    }
    //返回页面
   var back = function(){
       var time = 5 ;
       var timer = setInterval(function(){
           time-- ;
           document.querySelector('#message>div').innerHTML = "你被无情地拒绝了<br>" + time + "秒后返回页面";
           if(time == 0){
               clearInterval(timer);
               $("#message").hide();
               $("form").show();
           }
       }, 1000);
   }
</script>




<!--登录方式转换js-->
<script type="text/javascript">

    $(".pc_sign_in_title ul li").on("click", function () {
        $(this).parents(".pc_sign_in_title").find("ul li").removeClass("title_selected");
        $(this).addClass("title_selected");
        if ($(this).attr("data-id") == "1") {
            $(".pc_sign_in_cont").show();
            $(".pc_sign_in_input").hide();
        } else {
            $(".pc_sign_in_cont").hide();
            $(".pc_sign_in_input").show();
        }
    })
</script>


</html>
