
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

html, body {
    width: 100%;
    height: 100%;
    background-color: #f4f4f4;
    /* border:1px solid black; */
    overflow: hidden;
}

/* 头部分 */
.head {
    width: 100%;
    height: 23%;
    background-color: gray;
    /* border:1px solid black; */
    /* background-image: url(./north.jpg) */
}

.head .img_warper {
    width: 60px;
    height: 60px;
    position: relative;
}

.head .img_warper .head_img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    position: absolute;
    top: 100%;
    left: 200%;
}

.head .name_warpper {
    width: 80px;
    height: 30px;
    /* border: 1px solid red; */
    position: absolute;
    left: 200px;
}

.head .name_warpper span {
    line-height: 30px;
    font-size: 20px;
    color: aqua
}

.head .set_warpper {
    width: 85px;
    height: 25px;
    /* border: 1px solid yellow; */
    position: relative;
    top: 40px;
    left: 200px;

}

.head .set_warpper a span {
    font-size: 9px;
    color: aquamarine;
    position: absolute;
}

/* 发布管理 */
.manager {
    width: 100%;
    height: 20%;
    /* background-color: yellow; */
    /* border:1px solid black; */
}

/* 标题 */
.manager .mag_title {
    margin-top: 3px;
    width: 100%;
    height: 35px;
    /* border: 1px solid wheat */
    /* background-color: red */
}

.manager .mag_title span {
    color: black;
    line-height: 35px;
    margin-left: 15px;
    font-weight: 700;
}

/* 管理选项 */
.manager .mag_items {
    height: 70%;
    width: 100%;
}

.manager .mag_items .item {
    position: relative;
    display: inline-block;
    width: 30%;
    height: 100%;
    border: 3px solid white;
}

.manager .mag_items .item .img_warper {
    width: 30px;
    height: 30px;
    position: relative;
}

.manager .mag_items .item .img_warper img {
    position: absolute;
    top: 20px;
    left: 40px;
    width: 100%;
    height: 100%;
}

.manager .mag_items .item span {
    /* border: 1px solid red; */
    position: absolute;
    top: 70%;
    left: 28%;
    /* margin: 30px auto; */
    font-size: 13px;
    font-weight: 300;
}

/* 页面底部 */
.footer {
    position: fixed;
    width: 100%;
    height: 60px;
    /* border: 1px solid red; */
    background-color: bisque;
    bottom: 0px;
}

.footer .foot_item {
    position: relative;
    float: left;
    width: 32%;
    height: 100%;
    /* border: 1px solid green; */
}

.footer .foot_item .img_wrapper {
    position: absolute;
    top: 2px;
    left: 50px;
    /* border: 1px solid blue; */
    width: 32px;
    height: 32px;
}

.footer .foot_item .img_wrapper img {
    width: 100%;
    height: 100%;
}

.footer .foot_item span {
    position: absolute;
    top: 35px;
    left: 53px;
    font-size: 12px;
}